.send-btn {
    background-color: rgba(25, 135, 84);
    color: white;
    padding: 12px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.clear-btn {
    background-color: rgb(211, 211, 211);
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.chat-input {
    padding: 12px 15px;
    margin-left: 10px;
    border-width: 1px;
    border-radius: 10px;
    font-size: 15px;
    flex-grow: 1;
}

.chat-input-container {
    display: flex;
    margin-bottom: 60px;
}

.loading-spinner {
    height: 40px;
    margin: -15px;
    display: block;
}